@keyframes fadey {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
figure#slideshow {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
figure#slideshow div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
figure#slideshow div img {
  width: 100%;
  clip-path: polygon(0% 10%, 100% 10%, 100% 88%, 0% 88%);
}
figure#slideshow div span {
  position: absolute;
  width: 60px;
  top: 12%;
  text-align: center;
  z-index: 200;
  text-shadow: 2px 2px 4px #000000;
  font-size: 120%;
}
figure#slideshow div span img {
  vertical-align: middle;
}
figure#slideshow div p {
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
  z-index: 100;
  text-shadow: 2px 2px 4px #000000;
  line-height: 150%;
  font-size: 80%;
}
figure#slideshow div:first-child {
  position: relative;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
